<form action="/tasks/<%=@task.id%>" method="post">
	<input type="hidden" name="_method" value="patch">
	<input type="text" name="task[goal]" value=<%= @task.goal%>>
	<input type="submit" name="Edit Task">
</form>