<form action="/tasks" method="post">
	<input type="text" name="task[goal]" placeholder="task" required>
	<!-- <input type="text" name="task[reward]" placeholder="reward for completion?" required> -->

	
	<!-- 
		photo[photo_url] same as var photo = photo_url
	makes it easier for us in the post part of photos.rb -->
	<input type="submit" value="Create Task"> 
	<!-- value is what is shown to the user -->

</form>